.navbar{
    width: 100%;
    min-height: 50px;
    background-color: rgb(99, 97, 98);
    text-align: center;
    justify-content: center;
    padding-top: 20px;
}

.navbar a{
    text-decoration: none;
    color: white;
    padding: 5px;
    margin: 40px;
    font-size: large;
    font-weight: 650;
    justify-content: space-between;

}